*{
  margin: 0;
  padding: 0;
}

.dashboard {
  padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background-color: #f4f4f4;
    gap: 20px;
  }
  
  .section {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form {
    margin-bottom: 20px;
  }
  
  .profile-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .profile-form p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  .profile-form strong {
    color: #333;
  }
  
  .profile-form img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .profile-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .profile-form button:hover {
    background-color: #0056b3;
  }
  
  .new-ride {
    margin-bottom: 20px;
  }
  
  .previous-rides {
    margin-bottom: 20px;
  }
  
  .verification {
    margin-bottom: 20px;
  }
  
  .new-rides {
    margin-bottom: 20px;
  }
  
  .my-rides {
    margin-bottom: 20px;
  }
  
  .all-rides {
    margin-bottom: 20px;
  }

  .dashboard-nav {
    position: fixed; /* Fiksira navigaciju na vrhu */
    top: 0; /* Postavlja je na vrh stranice */
    left: 0; /* Poravnava levo */
    right: 0; /* Poravnava desno */
    display: flex; /* Koristi flexbox za raspored */
    justify-content: flex-end; /* Poravnava linkove u desnom uglu */
    padding: 10px;
    background-color: black; /* Crna pozadina navigacije */
    border-radius: 0; /* Bez zaobljenih uglova */
    z-index: 1000; /* Postavlja visoki z-index da bi bio iznad ostalog sadržaja */
  }
  
  .dashboard-nav a {
    color: white; /* Boja teksta linkova */
    text-decoration: none; /* Uklanja podvučenost */
    padding: 10px 15px; /* Unutrašnji razmak oko linkova */
    margin-left: 15px; /* Razmak između linkova */
    transition: background-color 0.3s; /* Animacija za promenu boje */
  }
  
  .dashboard-nav a:hover {
    background-color: #333; /* Tamnija boja pri hover-u */
  }