.my-trips {
    max-width: 800px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .my-trips h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .my-trips table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .my-trips table th,
  .my-trips table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .my-trips table th {
    background-color:  #9c9999;
    color: white;
  }
  
  .my-trips table tr:hover {
    background-color: #f1f1f1;
  }
  
  .my-trips table td {
    color: #555;
  }
  
  .my-trips p {
    text-align: center;
    font-size: 18px;
    color: #777;
  }

  .header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: flex-end; 
    padding: 10px;
    background-color: black; 
    border-radius: 0; 
    z-index: 1000; 
  }
  
  .header a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    margin-left: 15px; 
    transition: background-color 0.3s; 
  }
  
  .header a:hover {
    background-color: #333; 
  }