*{
    margin: 0;
    padding: 0;
  }

.new-trip-form {
    max-width: 400px;
    margin: 100px auto 0 auto;
    padding: 30px;
    background-color: #d5d4d4;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .new-trip-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .new-trip-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .new-trip-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .new-trip-form button:hover {
    background-color: #28a745;
  }
  
  .new-trip-form p {
    font-size: 1rem;
    margin: 10px 0;
    color: #555;
    text-align: center;
  }
  
  .new-trip-form select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .new-trip-form h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    color: #333;
  }

  .header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: flex-end; 
    padding: 10px;
    background-color: black; 
    border-radius: 0; 
    z-index: 1000; 
  }
  
  .header a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    margin-left: 15px; 
    transition: background-color 0.3s; 
  }
  
  .header a:hover {
    background-color: #333; 
  }