.previous-trips {
    margin: 20px;
  }
  
  .previous-trips h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    margin: 100px auto 0 auto;
  }
  
  .previous-trips table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
  }
  
  .previous-trips th, .previous-trips td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .previous-trips th {
    background-color: #9c9999;
  }
  
  .previous-trips tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .previous-trips tr:hover {
    background-color: #f1f1f1;
  }
  
  .previous-trips p {
    text-align: center;
    font-size: 1.2em;
  }

  .header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: flex-end; 
    padding: 10px;
    background-color: black; 
    border-radius: 0; 
    z-index: 1000; 
  }
  
  .header a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    margin-left: 15px; 
    transition: background-color 0.3s; 
  }
  
  .header a:hover {
    background-color: #333; 
  }